<div class="container">
  <div class="row justify-content-center top-content">
<div class="example-container">
    <h2>Liste Services</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="listeService"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)" 
      id="service"
      >
      @for (item of listeService; track item.nom) {

        <div class="example-box" cdkDrag [attr.data-id]="item._id">
          <p>nom : {{item.nom}}</p>
          <p>prix : {{formatPrice(item.prix)}}</p>
          <p>durée : {{milliseconToHeure(item.duree)}}</p>
        </div>
      }
    </div>
  </div>
  
  <div class="example-container">
    <h2>Liste Préference</h2>
  
    <div
      cdkDropList
      id="preference"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of done; track item.nom) {
        <div class="example-box" cdkDrag [attr.data-id]="item._id">
          <p>nom : {{item.nom}}</p>
          <p>prix : {{formatPrice(item.prix)}}</p>
          <p>durée : {{milliseconToHeure(item.duree)}}</p>
        </div>
      }
    </div>
  </div>
</div>
</div>
  